.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/* --------------- HOME PAGE -------------- */

/* -------------- NAVBAR ---------------- */
#navbar {
    background-color: #024959!important;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 35px;
    font-weight: bold;
}

a, a:hover, .nav-item p {
    color: #E6E7E8;
    font-family: 'Raleway', sans-serif;
}

#avatar {
    width: 65px;
}

.avatar {
    border: 2px solid #BD7A1F;
}

#navbarDropdownMenuAvatar.dropdown-toggle::after {
    margin-left: 1.255em!important;
    vertical-align: 0.8em!important;
    margin-top: 3px;
}

#navbarDropdownMenuAvatar {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 20px;
}



.dropdown-menu.dropdown-menu-right.show {
    padding-bottom: 0px;
}

button.btn.btn-primary, form div input.btn.btn-primary, a.btn.btn-primary {
    background-color: #BD7A1F;
    border-color: #BD7A1F;
    font-family: 'Raleway', sans-serif;
}

.dropdown-menu.show, a.dropdown-item:hover  {
    background-color: #024959;
    border-color: #024959;
}

a.dropdown-item, a.dropdown-item:hover {
    color: white;
}

#name {
    font-family: 'Raleway', sans-serif;
    color: #BD7A1F;
}

.badge-danger {
    background-color: #b70c0c;
}

.btn.btn-danger, .btn.btn-danger:hover {
    background-color: #b70c0c;
}

/* -------------- MODAL BOX---------------- */

.modal-content {
    background-color: #024959;
}

.modal-header h4, .modal-header button , .modal-body label, .modal-body p, .modal-body input {
    color: white;
}

.modal-body input {
    background-color: #BD7A1F;
}

/* ------------- HOME PAGE / NEXT ------ */

#img_home {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../images/alaska_accueil.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#allChapter {
    align-self: center;
    padding: 3%;
    background-color: #F4965E;
    border-color: #E6E7E8;
    font-family: 'Raleway', sans-serif;
}

.btn-primary:focus, .btn:focus {
    box-shadow: 0 0 0 .1rem #F4965E;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.modal-backdrop {
    z-index: 0;
}

#articles::before {
    display: block;
    height: 48px;
    content: " ";
}

#articles h2{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #BD7A1F;
    width: 30%;
    margin-left: 34.2%;
    border-radius: 5px;
    color: white;

}

#allChapters {
    padding-right: 0;
}

div.allChapters.col-md-6 {
    padding-right: 0;
}

.card-img {
    max-height: 400px;
}

/* ----------------- PRESENTATION --------------- */

#presentation {
    min-height: 100vh;
    margin-top: 130px;
}

#presentation h1, #articles #title, #commentaires #comments {
    text-align: center;
    font-size: 35px;
    background-color: #BD7A1F;
    border-radius: 7px;
    color: white;
    width: 25%;
    padding-bottom: 5px;
    margin-left: 37%;
}

#presentation p {
    font-size: 20px;
}

/* ----------------- CHAPTER -------------- */

#articles {
    margin-top: 90px;
}

#articles .card-img {
    max-height: 800px;
}

#commentaires h3 {
    margin-top: 10px;
}

#articles #date {
    text-decoration: underline;
}

#commentaires #comment-block {
    border: 1px solid #024959;
    border-radius: 5px;
    padding-right: 0px;
    padding-left: 0px;
}

#comment-username {
    color: #BD7A1F;
}

#comment-username strong {
    margin-left: 5px;
}

#comment-date {
    color: white;
}

#comment-user a {
    color: #b70c0c;
    font-weight: bold;
    text-decoration: none;
}

#comment-user {
    background-color: #024959;
    border-radius: 3px;
}

#comment-text {
    margin-left: 5px;
    margin-top: 5px;
}

#comment-text p{
    text-align: center;
}

#comment-modify a{
    margin-left: 5px;
    font-weight: bold;
    color: #024959;
}

.modif.collapse.show, .modif.collapse.show, .modif.collapsing {
    display: flex;
    justify-content: center;
}

.modif.collapse.show label, .modif.collapsing label {
    margin-left: 20%;
}

.modif.collapse.show button, .modif.collapsing button {
    margin-left: 25%;
}

#ajoutCommentaire {
    width: 30%;
    border: 1px solid #024959;
    border-radius: 5px;
}

#comment-form {
    display: flex;
    flex-direction: column;
}

#comment-form input, #comment-form label {
    text-align: center;
}

/* ----------------- ADMINISTRATION ------------- */

#createChapter {
    margin-top: 100px;
}

#createChapter h2, #deleteComments h2 {
    text-align: center;
    font-size: 25px;
}

#deleteComments h2 {
    margin: 20px 0px;
}

.table {
    background-color: #024959;
}
#headTableChapter, #headTableComments, #headTableChapter div, #headTableComments div {
    border: 1px solid white;
} 

#headTableChapter div, #headTableComments div {
    font-size: 20px;
    color: #BD7A1F;
    text-align: center;
}

#bodyTableChapter #awesomeLogo, #bodyTableComments #awesomeLogo {
    display: flex;
}

#bodyTableChapter div.awesomeLogo, #bodyTableChapter .centerText, #bodyTableComments div.awesomeLogo, #bodyTableComments.centerText{
    align-self: center;
    text-align: center;
    color: white;
    margin: 10px 0;
}

#threeTitle {
    padding: 0px;
}

.centerText p {
    margin-top: 10px!important;
}

.centerText.tiny *,.centerText.tiny span * {
    font-size: 12px!important;
}

.hoverLine:nth-child(even) {
    background-color:#07738c;
}

.hoverLine {
    padding: 0px;
}

/* ----------------- ADMINISTRATION CREATE/UPDATE CHAPTER ------------- */

.createChapter {
    margin-top: 100px!important;
}

.createChapter form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.titleChapter {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.imgChapter {
    align-self: center;
}

#myImg {
    max-width: 600px;
    max-height: 600px;
}

.sendChapt, .sendChapt:hover, .sendChapt:focus {
    align-self: center;
    background-color: #BD7A1F;
    border-color: #BD7A1F;
}

/* ----------------- INSCRIPTION PAGE -------------- */

#inscription {
    margin-top: 100px;
}

#inscription {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 77vh;
}

#inscription h3 {
    background-color: #BD7A1F;
    color: white;
    border-radius: 5px;
    width: 20%;
    padding: 5px 0;
}

#inscription div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inscription form { 
    background-color: #024959;
    margin-top: 20px;
    border-radius: 5px;
    width: 30%;
    padding: 30px 0;
}

#inscription form label {
    color: white;
}

#inscription form input {
    background-color: #BD7A1F;
    color: white;
}

/* ----------------- FOOTER --------------- */

#footer {
    display: flex;
    height: 80px;
    background-color: #024959; 
    margin-top: 40px;
}

#footer p {
    align-self: center;
    color: white;
    font-size: 16px;
}

@media (max-width: 767.98px) { 
    a.dropdown-item:hover {
        border: 1px solid;
    }
        
    #navbarDropdownMenuAvatar.dropdown-toggle::after {
            margin-left: 1.7em!important;
            vertical-align: 0.8em!important;
            margin-top: 3px;
    }

    .dropdown-menu.dropdown-menu-right.show {
        padding-top: 0px;
        margin-top: 0px;
        
    }
    #articles {
        margin-top: 70px;
    }

    #presentation h1, #articles h2, #articles #title, #commentaires #comments, #inscription form, #inscription h3 {
        margin: 10%;
        width: 80%;
    }

    #presentation h1 {
        margin-top: 150px;
    }

    #ajoutCommentaire {
        width: 80%;
        margin: 10%;
    }

    .createChapter, #createChapter, #inscription {
        margin-top: 150px !important;
    }

    #myImg {
        width: 100%;
    }

    #headTableComments div:nth-child(3), #headTableComments div:nth-child(6) {
        padding: 1px;
    }
}